<div class="m-grid m-grid--hor m-grid--root m-page">
    <!-- BEGIN: Header -->
        <%= render "partials/backend/menu" %>
    <!-- END: Header -->
    <!-- begin::Body -->
    <div class="m-grid__item m-grid__item--fluid m-grid m-grid--ver-desktop m-grid--desktop m-body">
        <!-- BEGIN: Left Aside -->
            <%= render "partials/backend/sidebar" %>
        <!-- END: Left Aside -->
        <div class="m-grid__item m-grid__item--fluid m-wrapper">
            <!-- BEGIN: Subheader -->
            <div class="m-subheader ">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="m-subheader__title ">
                            Welcome back, <%= current_user.name %>!
                        </h3>
                    </div>
                </div>
                <div class="mr-auto">
                    <p>Kindly paste the code below right before the closing '<strong>&lt;/body&gt;</strong>' in your website's source code.</p>
                    <div style="background: #D3D3D3; height: 200px; border-radius: 15px; padding: 25px;">
                        <strong style="">
                            &lt;div id="popup" style="display: block; margin-right: 15px;"&gt;&lt;/div&gt;<br>
                            &lt;link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"&lt;<br>
                            &lt;script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"&gt;&lt;/script&gt;<br>
                            &lt;link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"&gt;<br>
                            &lt;link href="https://customer-crowd.herokuapp.com/embed/v1/embed.css" rel="stylesheet" type="text/css"&gt;<br>
                            &lt;script&gt; var identifier = "<%= current_user.token %>"; &lt;/script&gt;<br>
                            &lt;script type="text/javascript" src="https://customer-crowd.herokuapp.com/embed/v1/embed.js">&lt;/script&gt;<br>
                        </strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end:: Body -->
    <!-- begin::Footer -->
    <%= render 'partials/frontend/footer' %>
    <!-- end::Footer -->
</div>
<!-- end:: Page -->
